:root {
	--main-hue: 207.5;
	--main-bg-1: hsla(var(--main-hue), 50%, 40%, 1);
	--main-bg-2: hsla(var(--main-hue), 50%, 20%, 1);
	--main-bg-3: hsla(var(--main-hue), 50%, 7%, 1);
	--bezier: all 0.2s cubic-bezier(0.1, -2.2, 1, 2.2);
	--bezier-min: cubic-bezier(0.1, -2.2, 1, 2.2);
	--demo-project-border-radius: 1em;
}

* {
	box-sizing: border-box;
}

html {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	color: white;
	font-size: 1em;
	text-align: center;
	line-height: 1.6em;
	letter-spacing: 0.05em;
	background-color: black;
}

button {
	font-family: "Roboto", sans-serif;
}

b {
	font-weight: 700;
}

p {
	margin: 0;
	margin-top: 9px;
}

p:first-child {
	margin-top: 0;
}

body {
	background: #3f3f3f;
	background: radial-gradient(
		circle,
		var(--main-bg-1, gray),
		var(--main-bg-2, gray) 16em,
		var(--main-bg-3, black)
	);
	background-attachment: fixed;
	position: relative;
}

html,
body {
	/* height: 100%; */
	/* width: 100%; */
	margin: 0;
	padding: 0;
	/* display: initial; */
}

a {
	color: white;
}

.main {
	width: 90%;
	text-align: center;
	margin: 0 auto;
}

@media all and (min-width: 41em) {
	.main {
		width: 38em;
	}
}

header {
	padding: 2em 0;
}

header, footer {
	background-color: rgba(0,0,0,0.07);
}

header {
	letter-spacing: 0.2em;
	font-size: 1.8em;
	padding-top: 2.4em;
}

header a {
	text-decoration: none;
	color: white;
}

.iamgrid_logo {
	width: 4.4em;
}

.iamgrid_logo_black {
	display: none;
}

a {
	color: rgba(255, 255, 255, 0.7);
	transition: var(--bezier);
}

a:hover {
	color: rgba(255, 255, 255, 0.5);
}

.bg-animation-toggle {
	display: grid;
	justify-content: center;
}

.bg-animation-toggle__button {
	margin: 0;
	color: #ffffff60;
	font-size: 0.8em;
	background-color: #ffffff10;
	border: 0;
	padding: 5px 15px;
	cursor: pointer;
	border-radius: 0 0 5px 5px;
	transition: all 0.2s ease-in-out;
	display: grid;
	grid-template-columns: auto auto;
	gap: 7px;
}

.bg-animation-toggle__button:hover {
	background-color: #ffffff20;
}

.bg-animation-toggle__state {
	width: 11px;
	height: 11px;
	border: 1px solid #ffffff60;
	background-color: #ffffff60;
	padding: 2px;
	background-clip: content-box;
	transform: translateY(2px);
	transition: all 0.2s ease-in-out;
}

.bg-animation-toggle__button[aria-checked="false"] .bg-animation-toggle__state {
	background-color: #ffffff00;
}

.main section {
	padding: 4em 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.main section:last-child {
	border-bottom: 0;
}

.main section h1 {
	margin: 0;
	font-size: 0.8em;
	letter-spacing: 1.4em;
	margin-right: -1.4em;
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(255, 255, 255, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0 0.6em 0;
}

@media all and (min-width: 41em) {
	.main section h1 {
		margin-right: 0;
	}
	.main section h1::before,
	.main section h1::after {
		content: "";
		padding: 0 2em;
		width: 25px;
		height: 15px;
		background-image: url("assets/iamgrid_h1_dots.svg");
		background-repeat: no-repeat;
		background-position: center center;
		opacity: 0.3;
	}
	.main section h1 span {
		transform: translateX(0.7em);
	}
}

h2 {
	font-size: 1.1em;
	font-weight: bold;
	margin: 3.5em 0 1em;
	text-align: center;
}

section h2:first-child {
	margin-top: 1.2em;
}

h2::before {
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	background-image: url("assets/iamgrid_h2_top.svg");
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.3;
	margin-bottom: 1em;
}

h2::after {
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	background-image: url("assets/iamgrid_h2_bottom.svg");
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.3;
	margin-top: 1em;
}

hr {
	border: 0;
	width: 100%;
	height: 15px;
	background-image: url("assets/iamgrid_separator.svg");
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.3;
	margin: 1.2em 0;
}

.about__photo__proper {
	width: 120px;
	height: 120px;
}

.about__photo {
	padding-top: 1em;
}

.profiles__inactive {
	font-size: 0.8em;
	font-weight: normal;
	color: rgba(255, 255, 255, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.6em 0 0 0;
}

.core-values__content {
	text-align: justify;
}

.portfolio-radioset {
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: center;
	padding-bottom: 0.4em;
}

.portfolio-radioset button {
	display: block;
	width: 11em;
	background-color: rgba(255, 255, 255, 0.12);
	color: #ffffffa0;
	padding: 0.4em 0;
	border: 0;
	border-right: 1px solid #ffffff60;
	border-left: 1px solid #ffffff60;
	cursor: pointer;
	font-size: 0.8em;
	transition: all 0.25s;
}

.portfolio-radioset button:hover {
	color: #ffffffc0;
	background-color: rgba(255, 255, 255, 0.25);
}

.portfolio-radioset button:first-child {
	border-left-width: 0;
	border-radius: 4px 0 0 4px;
}

.portfolio-radioset button:last-child {
	border-right-width: 0;
	border-left: 1px solid #ffffff60;
	border-radius: 0 4px 4px 0;
}

.portfolio-radioset button[aria-checked='true'] {
	background-color: rgba(255, 255, 255, 0.5);
	color: white;
	cursor: default;
}

.portfolio-radioset button[aria-checked='true']:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.jump-to {
	font-size: 0.8em;
	color: rgba(255, 255, 255, 0.6);
}

.jump-to a {
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;
}

table {
	font-size: 0.9em;
	margin: 2em auto;
	border-collapse: collapse;
	text-align: left;
}

table thead tr th {
	border-bottom: 1px dashed #ffffff60;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 0.8rem;
	opacity: 0.6;
	text-align: center;
}

table tbody tr:last-child td {
	border-bottom: 1px dashed #ffffff60;
	padding-bottom: 0.5rem;
}

table tr th, table tr td {
	padding: 0 1rem;
}

table tr td {
	padding-top: 0.3rem;
}

table tr:first-child td {
	padding-top: 0.5rem;
}

table tr th:first-child, table tr td:first-child {
	padding-left: 1rem;
}

table tr th:last-child, table tr td:last-child {
	padding-right: 1rem;
}

.milestones .portfolio-radioset {
	margin-top: 1em;
}

.milestones__view {
	display: none;
}

.milestones__view--active {
	display: block;
}

.milestones__content {
	text-align: justify;
}

.milestones table tr td:first-child {
	font-weight: bold;
}

.milestone {
	padding: 9px 0;
}

.milestone__year {
	font-size: 1.2em;
	/* font-weight: bold; */
	text-align: center;
}

.milestone__event {
	padding-top: 6px;
}

.milestone__event:first-child {
	padding-top: 0;
}

.nospam {
	display: none;
}

.profiles__container {
	text-align: center;
	margin: 1em 0;
}

.profiles__container a {
	display: inline-block;
	background: rgba(255, 255, 255, 0.12);
	border-radius: 0.3em;
	text-decoration: none;
	padding: 0.1em 0.4em;
	margin: 0.4em 0.2em;
	font-size: 0.8em;
	transition: var(--bezier);
}

.profiles__container a:hover {
	background: rgba(255, 255, 255, 0.25);
}

.demo-projects__content {
	padding-top: 1em;
}

.demo-project {
	display: block;
	border: 1px solid #ffffff00;
	background-color: #00000040;
	transition: border-color 0.2s var(--bezier-min), background-color 0.4s ease-in-out;
	text-decoration: none;
	color: white;
	border-radius: var(--demo-project-border-radius);
	margin-top: 1em;
	box-shadow: 0 0 10px #00000030;
	backdrop-filter: blur(20px) contrast(1.25);
}

.demo-project:hover {
	background-color: #00000070;
	/* backdrop-filter: blur(20px) contrast(1.2); */
	border-color: #ffffff90;
	color: white;
}

.demo-project--coming-soon {
	cursor: default;
	opacity: 0.5;
}

.demo-project:first-child {
	margin-top: 0;
}

.demo-project__thumbnail {
	width: 210px;
	height: 210px;
	display: block;
}

.demo-project__left {
	background-color: black;
	display: flex;
	justify-content: center;
}

.demo-project__left, .demo-project__thumbnail {
	border-top-left-radius: var(--demo-project-border-radius);
	border-bottom-left-radius: 0;
	border-top-right-radius: var(--demo-project-border-radius);
	border-bottom-right-radius: 0;
}

.demo-project__right {
	padding: 1.3em 1.5em;
}

.demo-project__description, .demo-project__technologies {
	font-size: 0.8em;
}

.demo-project__technologies {
	/* padding-top: 0.75em; */
	padding-top: 1.2em;
}

.demo-project__technologies-title {
	color: rgba(255,255,255,0.6);
}

.demo-project__technologies-list {
	font-weight: bold;
}

@media all and (min-width: 41em) {
	.demo-project {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 1em;
		text-align: left;
		align-items: center;
	}

	/* .demo-project__thumbnail {
		width: 210px;
		height: 210px;
	} */
	
	.demo-project__left, .demo-project__thumbnail {
		border-top-left-radius: var(--demo-project-border-radius);
		border-bottom-left-radius: var(--demo-project-border-radius);
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.cv__content {
	padding-top: 1em;
}

footer {
	font-size: 0.8em;
	color: rgba(255, 255, 255, 0.6);
	padding: 4em 0;
	/* line-height: 1.9em; */
}

footer section {
	padding-top: 2.5em;
}

footer section:first-child {
	padding-top: 0;
}

footer .iamgrid_logo {
	width: 7em;
	/* display: block; */
	/* opacity: 0.7; */
}

.footer__logo-wrapper a {
	cursor: pointer;
}

.footer__name {
	font-weight: bold;
	color: white;
	font-size: 1.2em;
	padding-bottom: 0.25em;
}

.footer__contact-line1 {
	padding-bottom: 0.25em;
}

/* .footer__occupation {
	color: #ffffffc0;
} */

.footer__email {
	font-weight: bold;
	color: white;
}

@media all and (min-width: 1000px) {
	.footer__proper {
		width: 960px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin: 0 auto;
		text-align: left;
	}

	footer section {
		padding: 1em 3em;
		border-left: 1px solid rgba(255, 255, 255, 0.12);
		/* border-left: 1px solid #00000070; */
	}

	footer section:first-child {
		border-left: 0;
		padding-top: 1em;
	}
}

.top-link {
	position: fixed;
	bottom: 25px;
	right: 25px;
	background-color: #ffffff60;
	color: white;
	cursor: pointer;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 25px;
	transition: opacity 0.35s ease-in-out;
	display: none;
	opacity: 0;
	align-content: center;
}

.top-link span {
	font-weight: bold;
	display: block;
	line-height: normal;
	transform: translateY(-2px);
	font-size: 18px;
}

.atp {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	margin: 5px 0 0 3px;
	--atp-cog-inactive: #ffffff40;
	--atp-cog-active: #ffffffff;
	--atp-text: #ffffff;
	--atp-bg: #000000;
	--atp-border: #ffffff80;
	--atp-shadow: #00000080;
	font-weight: 300;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	letter-spacing: 0.8px;
}

@media (width >= 48rem) {
	.atp {
		margin: 14px 0 0 14px;
	}
}

.atp a {
	text-decoration: underline;
}

.atp__cog {
	width: 56px;
	height: 56px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.atp__cog svg {
	transform: scale(1.1);
	display: block;
	padding-bottom: 0;
}

.atp__cog .svg-cog {
	transform-origin: center;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: spinAnimation;
	animation-play-state: paused;
	transition: fill 0.25s ease-in-out;
}

.atp__cog .svg-cog, .atp__cog .svg-qm {
	fill: var(--atp-cog-inactive);
}

@keyframes spinAnimation { 
	from {
		transform: rotate(0);
	}	
	to { 
		transform: rotate(360deg);
	} 
}

.atp--active .svg-cog {
	animation-play-state: running;
	fill: var(--atp-cog-active);
}

.atp--active .svg-qm {
	fill: var(--atp-cog-active);
}

.atp__header {
	border: 0;
	padding: 0;
	margin: 0;
	width: 58px;
	background: unset;
	position: absolute;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 5px;
	z-index: 1002;
	cursor: pointer;
}

.atp__title {
	display: none;
	color: var(--atp-text);
	text-align: left;
	text-transform: uppercase;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	font-size: 11px;
	letter-spacing: 4px;
	opacity: 0;
	transition: opacity 0.25s ease-in-out;
}

.atp--active .atp__title {
	display: block;
	opacity: 1;
}

.atp--active .atp__header {
	width: 262px;
}

@media all and (min-width: 500px) {
	.atp__header {
		width: 262px;
	}

	.atp__title {
		display: block;
	}
}

@media (pointer: fine) {
	.atp__header:hover .svg-cog {
		animation-play-state: running;
		fill: var(--atp-cog-active);
	}

	.atp__header:hover .svg-qm {
		fill: var(--atp-cog-active);
	}

	.atp__header:hover .atp__title {
		opacity: 1;
	}
}

.atp main {
	display: none;
	z-index: 1001;
	transition: opacity 0.25s ease-in-out;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 25px 0 0 0;
	background-color: var(--atp-bg);
	color: var(--atp-text);
	text-align: left;
	font-size: 11px;
	border: 1px solid var(--atp-border);
	box-shadow: 0 0 5px var(--atp-shadow);
	padding: 55px 15px 4px;
}

.atp--active main {
	display: block;
	width: 300px;
}

.atp main p {
	line-height: 16px;
	text-align: justify;
	margin: 12px 0;
}

.atp main p:first-child {
	margin-top: 0;
}

.atp main a {
	font-weight: bold;
	color: var(--atp-text);
}

.atp main a:hover {
	opacity: 0.8;
}

.atp main h1 {
	font-size: 14px;
	font-weight: bold;
}

.atp main span {
	opacity: 0.65;
}